<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Thingsonwheels</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>thingsonwheels</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>NSContactsUsageDescription</key>
    <string>Thingsonwheels needs access to the phone to make calls.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Thingsonwheels needs your location to display you the business location</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Thingsonwheels needs your location to display you the business location</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Thingsonwheels needs your location to display you the business location</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Thingsonwheels needs to access your microphone for uploading audio</string>
    <key>NSCameraUsageDescription</key>
    <string>Thingsonwheels needs to access your camera for uploading images</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Thingsonwheels needs to access your photo library to upload images</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>maps</string>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>comgooglemaps</string>
    </array>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.541625264570-3nmjvv79aio8sf2k2bd4eitah99ms2ba</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>